@font-face {
  font-family: Knewave;
  src: url("./fonts/Knewave-Regular.ttf");
}

@font-face {
  font-family: Corben;
  src: url("./fonts//Corben-Regular.ttf");
}

@import "tailwindcss";

.knewave {
  font-family: Knewave, sans-serif;
}

.corben {
  font-family: Corben, sans-serif;
}

body {
  background-color: black;
  color: white;
}
