@font-face {
  font-family: Knewave;
  src: url("./fonts/Knewave-Regular.ttf");
}

@font-face {
  font-family: Corben;
  src: url("./fonts//Corben-Regular.ttf");
}

@import "tailwindcss";

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }

  .animate-fade-out {
    animation: fade-out 1s ease-in-out;
  }
}

.knewave {
  font-family: Knewave, sans-serif;
}

.corben {
  font-family: Corben, sans-serif;
}

body {
  background-color: black;
  color: white;
}
